.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;

  .chatHeaderLeft {
    padding-left: 15px;

    .chatHashTag {
      color: #7b7c85;
      padding: 5px 3px 0 2px;

      @media (max-width: 1284px) {
        font-size: 25px;
        padding-right: 10px;
      }
    }

    h3 {
      color: white;

      @media (max-width: 1284px) {
        padding-top: 60px;
        font-size: 25px;
      }
    }
  }

  .chatHeaderRight {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7b7c85;

    @media (max-width: 1284px) {
      padding: 60px 20px 0 20px;
    }

    .chatHeaderIcon {
      @media (max-width: 1284px) {
        font-size: 25px;
      }
    }

    .search {
      display: flex;
      align-items: center;
      background-color: #494953;
      padding: 3px;
      border-radius: 3px;

      input {
        background: transparent;
        outline: none;
        color: white;
        border: none;
      }
    }

    .search_btn {
      background-color: #494953;
    }

    .send-btn {
      display: none;
    }

    .MuiSvgIcon-root {
      cursor: pointer;
    }
  }
}
