.chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;

    .chatHeaderLeft {
        padding-left: 15px;

        .chatHashTag {
            color: #7b7c85;
            padding-right: 7px;
        }

        h3 {
            color: white;
        }
    }

    .chatHeaderRight {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #7b7c85;

        .search {
            display: flex;
            align-items: center;
            background-color: #494953;
            padding: 3px;
            border-radius: 3px;

            input {
                background: transparent;
                outline: none;
                color: white;
                border: none;
            }
        }
        
        .search_btn {
            background-color: #494953;
        }

        .send-btn {
            display: none;
        }
        
        .MuiSvgIcon-root {
            cursor: pointer;
        }
    }
    
}