.message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;

  @media (max-width: 1284px) {
    margin: 50px 0;
  }

  .messageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 10px;
  }

  .profileImg {
    width: 40px;
    border-radius: 50px;
    margin: 15px 10px 0px 10px;

    @media (max-width: 1284px) {
      width: 30px;
      margin-left: 25px;
      padding: 10px;
    }
  }

  p {
    margin-top: 10px;
  }

  .postImg {
    margin-top: 10px;

    @media (max-width: 1284px) {
      margin-top: 25px;
    }
  }

  .timeStamp {
    color: #7b7c85;
    margin-left: 20px;
    font-size: 16px;

    @media (max-width: 1284px) {
      margin-left: 30px;
    }
  }
}
