.sidebar {
  display: flex;
  flex: 0.3;
  height: 100vh;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    padding: 7px 15px;

    @media (max-width: 600px) {
      padding: 3px;
    }

    .sidebarLeftTop {
      margin-bottom: auto;
    }
    .sidebarLeftBottom {
      margin: auto 0 10px 0;
      font-size: 12px;
      padding: 0;
      color: white;
      cursor: pointer;

      @media (max-width: 600px) {
        font-size: 5px;
      }
    }

    .serverIcon {
      width: 55px;
      height: 55px;
      background-color: #36393f;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;
      margin-top: 7px;

      @media (max-width: 600px) {
        width: 30px;
        height: 30px;
      }
      img {
        position: absolute;
        width: 55px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 600px) {
          width: 30px;
        }
      }
    }
  }

  .sidebarRight {
    background-color: #2f3136;
    width: 300px;
    position: relative;
    flex-grow: 1;

    @media (max-width: 600px) {
      flex: 0.3;
      font-size: 14px;
    }
    .sidebarIcon {
      @media (max-width: 600px) {
        font-size: 15px;
      }
    }

    .sidebarTop {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      @media (max-width: 600px) {
        padding: 10px;
      }
    }

    .channels {
      padding: 13px;

      @media (max-width: 600px) {
        padding: 10px;
      }

      .channelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        .sidebarIcon {
          @media (max-width: 600px) {
            font-size: 12px;
            padding: 0 3px;
          }
        }
        .addIcon {
          cursor: pointer;

          @media (max-width: 600px) {
            font-size: 15px;
            margin-left: 10px;
          }
        }
      }

      .sidebarHeader {
        display: flex;
        align-items: center;
      }

      .sidebarIcon {
        cursor: pointer;

        @media (max-width: 600px) {
          font-size: 18px;
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 10px;
      border-top: 1px solid #686a6e;
      padding-top: 10px;
      margin-left: -3px;

      @media (max-width: 600px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .account {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          border-radius: 50%;

          @media (max-width: 600px) {
            width: 30px;
          }
        }

        .accountName {
          margin-left: 5px;

          @media (max-width: 600px) {
            font-size: 5px;
          }
          h4 {
            color: white;
            font-weight: 500;
          }

          span {
            color: #686a6e;
          }
        }
      }

      .voice {
        display: flex;
        align-items: center;
        color: #686a6e;

        @media (max-width: 600px) {
          font-size: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}
